{% extends "base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block contenu %}

<h2>Administration UFR STA</h2>

<p>
Bienvenue {{ session["admin"] }}
</p>

<ul>

     <li>
        <a href="{{url_for('liste_actualite')}}">
            Gestion des Actualités
        </a>
    </li>

    <li>
        <a href="#">
            Gestion des Activités
        </a>
    </li>

    <li>
        <a href="#">
            Gestion des Formations
        </a>
    </li>

    <li>
        <a href="#">
            Gestion de la Galerie
        </a>
    </li>

</ul>

{% endblock %}