{% extends "base.html" %}
{% block title %}
Actualites
{%endblock%}
{%block contenu%}
<div class="bandeau-bleu">
    <h2>Actualité</h2>
</div>

<div class="news-grid">

    {% if actualites|length == 0 %}
        <p style="text-align: center; color: #666; grid-column: 1 / -1; padding: 40px;">Aucune actualité publiée pour le moment.</p>
    {% else %}
        {% for a in actualites %}
        <article class="news-card">
            <div class="news-photo">
                {% if a.photo %}
                    <!-- Le style corrige la tête coupée sans toucher au CSS de ton ami -->
                    <img src="{{ url_for('static', filename='uploads/actualites/' ~ a.photo) }}" alt="{{ a.titre }}" style="object-fit: contain; background-color: #f0f0f0;">
                {% else %}
                    <img src="https://via.placeholder.com/400x220?text=Actualite" alt="Actualité">
                {% endif %}
            </div>
            <div class="news-content">
                <time class="news-date">{{ a.date_publication }}</time>
                <h3 class="news-title">{{ a.titre }}</h3>
                <p class="news-description">
                    {{ a.description }}
                </p>
            </div>
        </article>
        {% endfor %}
    {% endif %}

    
    


</div>

{% endblock %}