{% extends "base.html" %}
{% block title %}
Contact
{%endblock%}
{%block contenu%}
<div class="bandeau-bleu">
    <h2>Contactez-nous</h2>
</div>

<div class="contact-wrapper">
    <form class="contact-form">
        <div class="form-group">
            <input type="text" placeholder="Votre nom" required>
        </div>
        <div class="form-group">
            <input type="email" placeholder="adresse email" required>
        </div>
        <div class="form-group">
            <input type="text" placeholder="Sujet" required>
        </div>
        <div class="form-group">
            <textarea placeholder="Ecrire un message" rows="6" required></textarea>
        </div>
        <button type="submit" class="btn-submit">Envoyer un message</button>
    </form>
</div>



{% endblock %}